
  body{
    background-image: url(../images/field.jpg); 
    background-size: cover;
  }

  #wackacontainer{
    background-image: linear-gradient(rgb(67, 142, 167), rgb(94, 163, 94));
  }
  

  #wackanum:hover{
    cursor: url(../images/mjolnir.png), auto;
  }

  .multiples {
    border: solid;
    border-radius: 1rem;
    height: 6%;
    width: 6%;
    margin-left: 1%;
    margin-top: 1%;
    text-align: center;
    
  }

  .multiples:hover {
    cursor: pointer;
    background-color: indianred;
  }

  .heart {
    position: relative;
    float: right;
    width: 4vh;
    height: 3.5vh;
    background: url(../images/heart.png);
    background-size: cover;
    margin-left: 0.5vh;
  }

  #wackatimerbox {
    position: absolute;
  }

  .endscore{
    left: 50%;
    font-size: large;
    font-weight: bold;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .mole {
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: absolute;
    background-image: url(../images/montymole.png);
    background-size: cover;
    display: none;
    text-align: center;
    font-weight: bolder;
    
  }

  .notmole {
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: absolute;
    background-image: url(../images/montymole.png);
    background-size: cover;
    display: none;
    font-weight: bolder;
  }
  
  @keyframes slideup {
    0%{
       
        opacity: 100%;
    }

    100%{
        height: 100px;
        opacity: 0%;
        
    }
  }

  .points {
    position: absolute;
    font-weight: bold;
    font-size: larger;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

#redflash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255,0,0,0.4);
  z-index: 10;
}